@charset "UTF-8";
html{
    scroll-behavior: smooth;
}
:root{
    --main-color: #28ACD8;
}
.top{
    position: relative;
    height: 63vh;
}
h1, h2, h3{
    margin:0;
    padding:0;
}
a{
    display:block;
    text-decoration: none;
    margin:0;
    padding:0;
}
div{
    display:block;
}
img {
    border: 0 none;
    vertical-align: top;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
header{
    position:relative;
    margin:0;
    padding:0;
}
#header{
    width:100vw;
    position:fixed;
    bottom: -80px;
    left:0;
    z-index:900;
    background-color: white;
    height: 60px;
    border-radius: 50px 50px 0 0;
    box-shadow: 0 0 7px rgba(51,75,105,0.8);
    -webkit-transition:all 300ms ease;
    transition:all 300ms ease;
}

.header__float{
    width:90vw !important;
    height: 60px !important;
    border-radius: 40px !important;
    margin:0 5vw;
    transform: translate3d(0, -110px, 0);
    box-shadow: 0 10px 10px rgba(51,75,105,0.3);
}
.header__ttl{
    font-size: 27px;
    color:var(--main-color);
    position:absolute;
    top: 12.5px;
    left:50%;
    transform:translateX(-50%);
}
.menu__open{
    position:absolute;
    top:10px;
    right:8vw;
    width:45px;
    height:45px;
}

@media screen and (max-width: 430px){
    .menu__open{
        display: none;
    }
}
#menu_open span{
    content:'';
    display:block;
    position:absolute;
    height:3px;
    width:23px;
    border-radius: 1.5px;
    background:var(--main-color);
}
#menu_open span:nth-of-type(1){
    top:12px;
}
#menu_open span:nth-of-type(2){
    top:20px;
}
#menu_open span:nth-of-type(3){
    bottom:14px;
}
.bubble1{
    width: 2vw;
    height: 2vw;
    background: #FDF573;
    top: 49vw;
    right: 51%;
    animation: pukapuka 3s linear infinite;
}
.top__upper{
    display: relative;
    height: 50vh;
    margin-top: 90px;
    padding: 3vh;
}
.mutsumefes{
    margin-bottom: 10vh;
}
.main__ttl{
    text-align: center;
    margin-bottom: 0.6em;
    color: var(--main-color)
}
.date__ttl{
    text-align: right;
}
#slider{
    padding-top: 25vh;
}
.news{
    padding: 6em 0;
    font-size: 1.4rem;
    text-align: center;
}
.news h3{
    margin: .5em 0 .25em;
}
.festival{
    position: relative;
    padding: 4em 0;
    text-align: center;
}
.festival h2{
    margin-bottom: 3.236em;
    font-size: 1.4rem;
}
.talk__detail{
    display: relative;
    margin:0 20px;
    border-radius:14px;
    border: solid 2px var(--main-color);
}
.detail__ttl{
    color:white;
    background-color: var(--main-color);
    padding:0.6em;    
    border-radius: 10px 10px 0 0;
}
.detail__content{
    margin:0 5%;
    
}
.detail__list{
    padding:2em 0;
    border-bottom: dashed 1px var(--main-color);
}
.detail__list dt{
    margin:0 auto .5em;
    width:12em;
    text-align: center;
    border:solid 1px var(--main-color);
    line-height:2;
    border-radius:5px;
}
.detail__list dd{
    text-align: center;
    margin-bottom: 1.5em;
}