@charset "UTF-8";
@font-face {
  font-family: 'zen maru';
  src: url(ZenMaruGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'balbum';
  src: url(Balbum-Rolypoly.ttf) format('truetype');
}
@font-face {
  font-family: 'kiraku';
  src: url(46336.ttf) format('truetype');
}
html{
  background-color: #C7E8FA;
}
body{
  font-family: zen maru;
}
.header__ttl{
  font-family: 'balbum';
}
.main__ttl{
  font-size: 15vw;
  font-family: 'balbum';
  font-style: normal;
}
#slider{
  background: -moz-linear-gradient(top, #FFC778 50%, #FFF 70%);
  background: -webkit-linear-gradient(top, #FFC778 50%, #FFF 70%);
  background: linear-gradient(to bottom, #FFC778 50%, #FFF 70%);
  padding-top: 25vh;
}
#slider::before{
  content: '.';
  background: #FFC778;
  display: block;
  position: absolute;
  top: -9.5vw;
  left: 0;
  right: 0;
  height: 9.64286vw;
  width: 100%;
  -webkit-mask: url(top__wave__big.svg);
  mask: url(top__wave__big.svg);
  -webkit-mask-size: 100% 9.64286vw;
  mask-size: 100% 9.64286vw;
  -webkit-mask-position: center top;
  mask-position: center top;
}
.news{
  background-color: #fff;
}
.festival::before{
  content: '.';
  background: #C7E8FA;
  display: block;
  position: absolute;
  top: -9.5vw;
  left: 0;
  right: 0;
  height: 9.64286vw;
  width: 100%;
  -webkit-mask: url(top__wave__big.svg);
  mask: url(top__wave__big.svg);
  -webkit-mask-size: 100% 9.64286vw;
  mask-size: 100% 9.64286vw;
  -webkit-mask-position: center top;
  mask-position: center top;
}
.mutsumefes,.date__ttl{
  font-family: 'zen maru';
}
@keyframes pukapuka {
    0% {
      transform: translateY(0);
    }
    33.33333% {
      transform: translateY(-10px);
    }
    66.66667% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }