@charset "UTF-8";
@font-face {
  font-family: 'zen maru';
  src: url(ZenMaruGothic-Regular.ttf) format('truetype');
}
.main__ttl{
  font-family: 'zen maru';
}
.mutsumefes,.date__ttl{
  font-family: 'zen maru';
}
@keyframes pukapuka {
    0% {
      transform: translateY(0);
    }
    33.33333% {
      transform: translateY(-10px);
    }
    66.66667% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }