@charset "UTF-8";
@font-face {
  font-family: 'zen maru';
  src: url(ZenMaruGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'balbum';
  src: url(Balbum-Rolypoly.ttf) format('truetype');
}
@font-face {
  font-family: 'kiraku';
  src: url(46336.ttf) format('truetype');
}
html{
  background-color: #C7E8FA;
}
body{
  font-family: zen maru;
}
.header__ttl{
  font-family: 'balbum';
}
.main__ttl{
  font-size: 15vw;
  font-family: 'balbum';
  font-style: normal;
}
.mutsumefes,.date__ttl{
  font-family: 'zen maru';
}
@keyframes pukapuka {
    0% {
      transform: translateY(0);
    }
    33.33333% {
      transform: translateY(-10px);
    }
    66.66667% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }